<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat Da Burger!</title>

		{{!-- spectre css framework --}}
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

		{{!-- custom styles --}}
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>